<div >
    <form action="" method="post" [formGroup]="profileForm">
        <h3>Créer un compte:</h3>
        <div class="first">
            <input type="text" formControlName="username" placeholder="Nom d'utilisateur" id=""> 
            <input type="text" formControlName="name" id="" placeholder="Nom">
            <input type="text" formControlName="telephone" id="" placeholder="Téléphone">
            <input type="text" formControlName="email" id="" placeholder="Email">
            <input type="text" formControlName="adress" id="" placeholder="Adresse">
            <input type="number" formControlName="age" id=""  placeholder="Age">
        </div>
        <div class="second">
            <input type="password" placeholder="Mot de passe" formControlName="password">
        </div>
        <input type="submit" value="Créer un compte" (click)="OnSubmit()" [disabled]="!profileForm.valid">
    </form>    
</div>
