<div [ngStyle]="">
    <form action="" method="post">
        <h4>Créer un compte:</h4>
        <input type="text" name="username" placeholder="Nom d'utilisateur" id=""> 
        <input type="text" name="firstname" id="" placeholder="Prénom">
        <input type="text" name="lastname" id="" placeholder="Nom">
        <input type="text" name="telephone" id="" placeholder="Téléphone">
        <input type="text" name="email" id="" placeholder="Email">
        <input type="text" name="adress" id="" placeholder="Adresse">
        <input type="date" name="date" id="">
        <input style="background-color: white;" type="file">
        <input type="password" placeholder="Mot de passe">
        <input type="submit">
    </form>    
</div>
