@if (current_user) {
  <div class="parent">
    <!-- First Child -->
    <div class="first_child">
      <img src="/assets/profil.png" width="100px" alt="Profile Picture" />
      <h4>{{ current_user.username }}</h4>
      <p><strong>Age:</strong> {{ current_user.age }}</p>
      <p><strong>Adresse:</strong> {{ current_user.adress }}</p>
      <p><strong>Numéro de téléphone:</strong> {{ current_user.telephone }}</p>
      <p><strong>Nom et prénom:</strong> {{ current_user.name }}</p>
      <p><strong>Email:</strong> {{ current_user.email }}</p>
      <button routerLink="/modifier_profil">
        <img src="/assets/profil.png" width="20px" alt="" /> Modifier votre profil
      </button>
    </div>
  
    <!-- Second Child -->
    <div class="second_child">
      <a routerLink="/ajouter_vehicule">🚗 Ajouter Véhicule</a>
      <a routerLink="/editer_vehicules">🖍 Editer Véhicules</a>
    </div>
  </div>
}