li {
  margin-right: 50px;
  margin-left: 30px;
}

.btn-connexion,
.btn-inscription {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.btn-connexion {
  background-color: white;
  color: black;
  border: 2px solid #ccc;
}

.btn-connexion:hover {
  background-color: #f1f1f1;
}
.btn-inscription {
  background-color: #10375c;
  color: white;
  margin-right: 100px;
}
img{
  margin-left:100px;

}