<nav class="navbar navbar-expand-lg" style="margin: 0px">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" routerLink="/bg_image">
      <img width="60" class="rounded-circle" src="assets/logo.png" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="grandirheader()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/bg_image">
            Accueil
          </a>
        </li>
        @if (status) {
          <li class="nav-item">
            <button class="nav-link active" routerLink="/rechercher" [disabled]="!status">Rechercher Annonces</button>
          </li>
          <li class="nav-item">
            <button class="nav-link active" routerLink="/publier" [disabled]="!status">Publier Annonces</button>
          </li>
        }
        
      </ul>

      @if(!status){
        <div class="d-flex align-items-start">
          <a routerLink="/connexion" class="btn-connexion me-2"> Connexion </a>
          <a routerLink="/inscription" class="btn-inscription">Inscription</a>
        </div>
      }@else {
          <div class="dropdown">
            <button  
            class="btn btn-secondary dropdown-toggle" 
            style="background-color: white;
            margin-right: 200px;"
            type="" id="dropdownMenuButton" 
            data-bs-toggle="dropdown" 
            aria-expanded="false">
            <img src="/assets/profil.jpg" width="60px" alt="">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color:#10375c;">
              <li><a class="dropdown-item" routerLink="/profil">Profil de {{ username }}</a></li>
              <li><a class="dropdown-item" routerLink="/mesAnnonces">Mes annonces</a></li>
              <li><a class="dropdown-item" (click)="deconnecter()" routerLink="/bg_image">Deconnecter</a></li>
            </ul>
        </div>
      }
    </div>
  </div>
</nav>
