li {
  margin-right: 50px;
  margin-left: 30px;
}
a img{
  margin-left: 120px;
}
.btn-connexion,
.btn-inscription {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.btn-connexion {
  background-color: white;
  color: black;
  border: 2px solid #ccc;
}

.btn-connexion:hover {
  background-color: #f1f1f1;
}
.btn-inscription {
  background-color: #10375c;
  color: white;
  margin-right: 120px;
}

/* Change background color on hover */
.dropdown-item {
  background-color: #10375c; /* Default background */
  color: #F4F6FF;
  width: 120px; /* Optional: Change text color */
}

/* Optional: Reset the color when not hovered */
.dropdown-item:hover {
  background-color: #F4F6FF; /* Desired hover color */
  color: #10375c; /* Default text color */
}

.btn-secondary.dropdown-toggle::after {
  border-top-color: black !important; /* Makes the triangle black */
}