<div class="form-container">
  <h3>Ajouter Annonce :</h3>
  <form>
    <div class="form-group">
      <label>Description:</label>
      <input type="text" placeholder="Entrez la description" />
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Date De Départ:</label>
        <input type="date" />
      </div>
      <div class="form-group">
        <label>Heure De Départ:</label>
        <input type="time" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Date D'Arrivée:</label>
        <input type="date" />
      </div>
      <div class="form-group">
        <label>Heure D'Arrivée:</label>
        <input type="time" />
      </div>
    </div>

    <div class="form-group">
      <label>Lieu De Départ:</label>
      <input type="text" placeholder="Entrez le lieu de départ" />
    </div>
    <div class="form-group">
      <label>Lieu D'Arrivée:</label>
      <input type="text" placeholder="Entrez le lieu d'arrivée" />
    </div>
    @if(voitures.length>0){
    <div class="form-grup">
      <label for="vehicule">Véhicule:</label>
      <select
        class="form-control"
        formControlName="vehicule"
        (change)="onVehicleChange($event)"
      >
        <option *ngFor="let voiture of voitures; let i = index" [value]="i">
          {{ voiture.marque }} - {{ voiture.immatriculation }}
        </option>
      </select>
    </div>
    }@else {
    <label>Véhicule:</label>
    <p>pas de vehicule a choisir</p>
    }

    <div class="form-row">
      <div class="form-group">
        <label>Prix Par Place:</label>
        <input type="number" placeholder="Entrez le prix" />
      </div>
    </div>

    <div class="form-group-inline">
      <label> <input type="checkbox" /> Aller-Retour </label>
      <label> <input type="checkbox" /> Animaux De Compagnie Autorisés </label>
    </div>
    <button type="submit" class="btn-primary" (click)="OnSubmit()">
      Créer L'Annonce
    </button>
  </form>
</div>
